@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

*,
*::after,
*::before{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:'Poppins', sans-serif;
}
/* ##### utility class  #####*/
.container{
    max-width: 1200px;
    width:90%;
   margin:auto;
    
}
/* ####### navbar styling####*/
/* for desktop */
.navbar-container input[type="checkbox"],.navbar-container .hamburger-lines{
    display: none;

}
.navbar{
   box-shadow: 0px 5px 10px 0px #aaa;
   position: fixed;
   width:100%;
   background: #fff;
   color:#000;
   opacity :0.85;
   z-index: 999;
}
.navbar-container {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   height:64px;
}
.menu-items{
    display: flex;
    margin-left:1.5rem;
    font-size:1.5rem;
  
}
.menu-items li{
    list-style: none;
    padding-left: 2rem;
}

.navbar a{
    text-decoration: none;
    color:#444;
    font-weight: 500;
    transition: color 0.5s ease-in-out;
}
.navbar a:hover{
    color:#117964
}
.logo{
    font-size: 1.8rem;
    font-size: 800;
}
.showcase-area{
    height:50vh;
    background: url("header-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-size: 1.2rem;
    
}

.btn{
    text-decoration: none;
    margin-top:10px;
    background-color:#75CFB8;
    border-radius: 50px;
    padding: 5px;
    width:75px;
    height: 30px;
    font-size: 1.2rem;
    text-align:center;
    color:#fff;
}
/*########About us ##### */
#about{
    padding: 50px 0;
    background:#f5f5f7;
}
.about-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-text{
    flex:1 1 400px;
    margin: auto;
    animation :text-animation 1s ease-in-out forwards;
}
@keyframes text-animation {
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0%);
    }
}
.about-img{
   flex:1 1 400px;
   animation : image-animation 1s ease-in-out forwards;
}
@keyframes image-animation {
    0%{
        transform: translateX(100%);

    }
    100%{
        transform: translateX(0%);
    }
    
}
.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
.about-text p{
    font-size:1.2rem;
    line-height: 2;

}
.about-text h1{
    font-size: 1.5rem;
}

/* ####food section */
#food{
    color: #fff;
}
@media screen and (max-width:600px) {
    .food-container{display: flex ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .img-content h3{
       padding:1rem;
    }
    
    .fruits,.vegetables{
        margin-bottom: 5px;
    }
}
.food-container{
    display: flex;
    
    justify-content: space-between;
}

.food-container img{
    display: block;
    max-height:300px;
    width: 100%;
    margin: auto;
    object-fit: cover;
   
    
}
#food h2{
    color:#000;
    text-align: center;
    margin-top: 20px;
}
.img-container{
    margin: 0  1rem;
    position: relative;
}
.img-content{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
   z-index: 2;
   opacity: 0;
   text-align: center;
   transition: all 0.3s ease-in-out;
}
.img-content h3{
    color:#fff;
    font-size: 2vw;
   overflow: hidden;
}
.img-content a{
    font-size: 1.2rem;
}
.img-container::after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.871);
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform:scaleY(1)

}
.img-container:hover  .img-content{
    opacity: 1;
    top:40%;
}

/* ###foodMenu###*/
.foodmenu-heading{
    margin-top: 20px;
}
@media only screen and (max-width:800px){
    .flex1{
        display: flex;
        flex-direction: column;
       
    }
    .food-menu-item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .food-image img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 20px;
    }
    .food-price{
        margin-bottom: 20px;
    }

}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0;
}
.food-menu-container img{
    display:block;
    width:250px;
    height:250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
}

.food-menu-item{
    display: flex;
}


.flex1{
    display: flex;

}
.food-description p{

    text-align: justify;
    padding: auto;
}
.food-image img{
    
    margin-bottom: 20px;
}
.food-price{
    text-align:center;
    font-size: 1.2rem;
    font-weight: 800;
}
.food-title h2{
    text-align: left;
}
.foodmenu-heading{
    text-align: center;
}
 /*###Reviews Container###*/
 #testimonial{
     background:#f5f5f7;
 }
 .reviews{
     display: flex;
     justify-content: space-between;
 }
 .customer-details img{
     display: block;
     width:100px;
     height:100px;
     border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
    margin-top: 10px;
 }
 
 .testimonial-heading{
     text-align: center;
     margin:20px auto;
     font-weight: bold;
     padding: 1.5rem;
 }
 .star-rating{
     text-align: center;
 }
 .testimonial-text{
     text-align: center;
 }
 .review{
     padding:0.7rem;
 }
 .customer-name{
     text-align: center;
     font-weight: 800;
 }
 .fa-star{
     color:#FF9529;
 }
 /* #####CONTACT PAGE */
 #contact{
     padding: 5rem 0;
     background:#F8EDED;
 }
 .contact-container{
     display: flex;
     background: #fff;
 }
 .contact-image{
     width:50%;

 }
 .contact-image img{
     display: block;
     width:100%;
     object-fit: cover;
     object-position: center;
     height: 400px;
 } 
.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}
.form-container input,textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color:#444;
    box-shadow: none;
    outline: none;
    font-weight: 500;
    margin-top: 0;

}
.form-container a{
   
    margin-top: 1rem;
}
.form-container h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
/* #######Footer */
#footer{
    padding: 2rem 0;
     background:#232f3e;
     color:#f5f5f7;
}
.copyright h2{
    text-align: center;
    font-size: 1.2rem;
}
/*####media-query */
@media (max-width:768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],.navbar-container .hamburger-lines input{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        height:32px;
        width:40px;
        top:20px;
        left:20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height:32px;
        width:40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .lines{
        display: block;
        height: 4px;
        width:100%;
        border-radius: 10px;
        background-color: #333333;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
       
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height:100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;   
    }
    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .navbar-container input[type='checkbox']:checked~.menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0)
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}